*{
    border: 0px;
    padding: 0px;
}

body{
    
    background: navajowhite;
    display:grid;
    justify-content: center;
}

.border{
    width: 150vh;  
    display: grid;
    border: 2px  solid rebeccapurple;
    background-color: #ccffe6;
    border-radius: 20px;
    
}

input[type=text] {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid navy;
    border-radius: 10px;
    margin: 10px 0px;
    box-sizing: border-box;
    
    }


.container{
       height: 60vh;
       width: 50vw;
       margin-top: 100px;
       margin-left: 150px;
       padding:  30px ;
        border: 1px solid red;
        box-sizing: border-box;
        background: #ffcce6;
        border-radius: 20px;

      }

.header{
    display: flex;
    justify-content: center;
    color: blueviolet;
}
    
    .box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        font-size: medium;
        gap: 12px;
        color: #e11a31;
        margin-top: 20px;
    }
    
    .button {
       
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-blck;
        font-size: 16px;
        margin: 50px 550px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        background-color: burlywood;
        
      }
      .button1 {border-radius: 15px;
        border: 1px solid navy;
        text-decoration: none;

        
        
    }
    