*{
    padding: 0px;
    margin: 0px0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFE6A9;
}


    
 .border{
    width: 40vw;
    height: 90vh;
    border: 2px solid  	none;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:   #cb9df0dd;
    
 }

 

 .borderbox{
    width: 30vw;
    height: 70vh;
    border: 1px solid none;
    border-radius: 10px;
    background-color:#B1C29E;

}

.h3{

    color: #0a0000f1;
    margin-left: 195px;
}


.form{
    width: 50%;
    padding: 10px 15px;
    color: #121212;
}
input[type=email], input[type=password]{
    width: 188%;
  padding: 10px 10px ;
  margin: 12px 0;
  border: 1px solid #cccccc86;
  box-sizing: border-box;
  border-radius: 5px;

}

button {
  background-color: #8245e6;
  color: white;
  padding: 14px 20px;
  margin: 30px 0;
  margin-left: 89px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
}

button:hover {
  opacity: 0.8;
}


